<!-- Header -->
<div ng-include="'views/layout/header.html'"></div>

<!-- Carousel -->
<div ng-include="'views/components/compteSlider.html'"></div>
<!-- /carousel -->

<div class="section animated fadeInRight">
    <div class="container" style=" min-height: 200px;">
        <h2 class="classic-title"><span>Activation du compte </span></h2>
        {{ message }}
    </div>
</div>

<!-- Footer -->
<div ng-include="'views/layout/footer.html'"></div>

<script>
    document.createElement('ui-select');
    document.createElement('ui-select-match');
    document.createElement('ui-select-choices');
</script>